docroot/sites/all/modules/ideal/ideal_xml_schema_v2.xsd

<?xml version="1.0" ?>
<!--iDEAL Message Protocol version 1.1.0: interface Acceptant-Acquirer-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.idealdesk.com/Message" xmlns="http://www.idealdesk.com/Message" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>
    elements defined
  </xs:documentation>
  </xs:annotation>
  <xs:element name="DirectoryReq">
    <xs:annotation>
      <xs:documentation>
      Directory Request (A)
    </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="createDateTimeStamp" type="iDEAL.dateTime"/>
        <xs:element name="Merchant">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="merchantID" type="Merchant.merchantID"/>
              <xs:element name="subID" type="Merchant.subID"/>
              <xs:element name="authentication" type="Merchant.authentication"/>
              <xs:element minOccurs="0" name="token" type="Merchant.token"/>
              <xs:element name="tokenCode" type="Merchant.tokenCode"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="MessageAttributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="DirectoryRes">
    <xs:annotation>
      <xs:documentation>
      Directory Response (A')
    </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="createDateTimeStamp" type="iDEAL.dateTime"/>
        <xs:element name="Acquirer">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="acquirerID" type="Acquirer.acquirerID"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Directory">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="directoryDateTimeStamp" type="iDEAL.dateTime"/>
              <xs:element maxOccurs="unbounded" name="Issuer">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="issuerID" type="Issuer.issuerID"/>
                    <xs:element name="issuerName" type="Issuer.issuerName"/>
                    <xs:element name="issuerList" type="Issuer.issuerList"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="MessageAttributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcquirerTrxReq">
    <xs:annotation>
      <xs:documentation>
      Acquirer Transaction Request (B)
    </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="createDateTimeStamp" type="iDEAL.dateTime"/>
        <xs:element name="Issuer">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="issuerID" type="Issuer.issuerID"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Merchant">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="merchantID" type="Merchant.merchantID"/>
              <xs:element name="subID" type="Merchant.subID"/>
              <xs:element name="authentication" type="Merchant.authentication"/>
              <xs:element minOccurs="0" name="token" type="Merchant.token"/>
              <xs:element name="tokenCode" type="Merchant.tokenCode"/>
              <xs:element name="merchantReturnURL" type="iDEAL.url"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Transaction">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="purchaseID" type="Transaction.purchaseID"/>
              <xs:element name="amount" type="Transaction.amount"/>
              <xs:element name="currency" type="Transaction.currency"/>
              <xs:element minOccurs="0" name="expirationPeriod" type="Transaction.expirationPeriod"/>
              <xs:element name="language" type="Transaction.language"/>
              <xs:element name="description" type="Transaction.description"/>
              <xs:element name="entranceCode" type="Transaction.entranceCode"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="MessageAttributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcquirerTrxRes">
    <xs:annotation>
      <xs:documentation>
      Acquirer Transaction Response (B')
    </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="createDateTimeStamp" type="iDEAL.dateTime"/>
        <xs:element name="Acquirer">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="acquirerID" type="Acquirer.acquirerID"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Issuer">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="issuerAuthenticationURL" type="iDEAL.url"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Transaction">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="transactionID" type="Transaction.transactionID"/>
              <xs:element name="purchaseID" type="Transaction.purchaseID"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="MessageAttributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcquirerStatusReq">
    <xs:annotation>
      <xs:documentation>
      Acquirer Status Request (F)
    </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="createDateTimeStamp" type="iDEAL.dateTime"/>
        <xs:element name="Merchant">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="merchantID" type="Merchant.merchantID"/>
              <xs:element name="subID" type="Merchant.subID"/>
              <xs:element name="authentication" type="Merchant.authentication"/>
              <xs:element name="token" type="Merchant.token"/>
              <xs:element name="tokenCode" type="Merchant.tokenCode"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Transaction">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="transactionID" type="Transaction.transactionID"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="MessageAttributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcquirerStatusRes">
    <xs:annotation>
      <xs:documentation>
      Acquirer Status Response (F')
    </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="createDateTimeStamp" type="iDEAL.dateTime"/>
        <xs:element name="Acquirer">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="acquirerID" type="Acquirer.acquirerID"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Transaction">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="transactionID" type="Transaction.transactionID"/>
              <xs:element name="status" type="Transaction.status"/>
              <xs:element minOccurs="0" name="consumerName" type="Transaction.consumerName"/>
              <xs:element minOccurs="0" name="consumerAccountNumber" type="iDEAL.accountNumber"/>
              <xs:element minOccurs="0" name="consumerCity" type="Transaction.consumerCity"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Signature" type="iDEAL.signature"/>
      </xs:sequence>
      <xs:attributeGroup ref="MessageAttributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ErrorRes">
    <xs:annotation>
      <xs:documentation>
      Error Response (X')
    </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="createDateTimeStamp" type="iDEAL.dateTime"/>
        <xs:element name="Error">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="errorCode" type="Error.errorCode"/>
              <xs:element name="errorMessage" type="Error.errorMessage"/>
              <xs:element minOccurs="0" name="errorDetail" type="Error.errorDetail"/>
              <xs:element minOccurs="0" name="suggestedAction" type="Error.suggestedAction"/>
              <xs:element minOccurs="0" name="suggestedExpirationPeriod" type="xs:duration"/>
              <xs:element minOccurs="0" name="consumerMessage" type="Error.consumerMessage"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="MessageAttributes"/>
    </xs:complexType>
  </xs:element>
  <xs:annotation>
    <xs:documentation>
    simpleTypes defined
  </xs:documentation>
  </xs:annotation>
  <xs:simpleType name="Acquirer.acquirerID">
    <xs:restriction base="xs:token">
      <xs:length fixed="true" value="4"/>
      <xs:pattern value="[0-9]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Error.consumerMessage">
    <xs:restriction base="xs:string">
      <xs:maxLength fixed="true" value="512"/>
      <xs:minLength fixed="true" value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Error.errorCode">
    <xs:restriction base="xs:token">
      <xs:length fixed="true" value="6"/>
      <xs:pattern value="[A-Z]{2}[0-9]{4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Error.errorDetail">
    <xs:restriction base="xs:string">
      <xs:maxLength fixed="true" value="256"/>
      <xs:minLength fixed="true" value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Error.errorMessage">
    <xs:restriction base="xs:token">
      <xs:maxLength fixed="true" value="128"/>
      <xs:minLength fixed="true" value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Error.suggestedAction">
    <xs:restriction base="xs:string">
      <xs:maxLength fixed="true" value="512"/>
      <xs:minLength fixed="true" value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Issuer.issuerID">
    <xs:restriction base="xs:token">
      <xs:length fixed="true" value="4"/>
      <xs:pattern value="[0-9]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Issuer.issuerList">
    <xs:restriction base="xs:token">
      <xs:pattern value="Short|Long"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Issuer.issuerName">
    <xs:restriction base="xs:token">
      <xs:maxLength fixed="true" value="35"/>
      <xs:minLength fixed="true" value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Merchant.authentication">
    <xs:restriction base="xs:token">
      <xs:minLength fixed="true" value="1"/>
      <xs:maxLength fixed="true" value="40"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Merchant.merchantID">
    <xs:restriction base="xs:token">
      <xs:length fixed="true" value="9"/>
      <xs:pattern value="[0-9]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Merchant.subID">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:maxInclusive fixed="true" value="999999"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Merchant.tokenCode">
    <xs:restriction base="xs:token">
      <xs:maxLength fixed="true" value="256"/>
      <xs:minLength fixed="true" value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Merchant.token">
    <xs:restriction base="xs:token">
      <xs:maxLength fixed="true" value="40"/>
      <xs:minLength fixed="true" value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Signature.fingerprint">
    <xs:restriction base="xs:token">
      <xs:maxLength fixed="true" value="40"/>
      <xs:minLength fixed="true" value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Signature.signatureValue">
    <xs:restriction base="xs:base64Binary"/>
  </xs:simpleType>
  <xs:simpleType name="Transaction.amount">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:maxInclusive fixed="true" value="999999999999"/>
      <xs:minInclusive fixed="true" value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Transaction.consumerCity">
    <xs:restriction base="xs:token">
      <xs:minLength fixed="true" value="1"/>
      <xs:maxLength fixed="true" value="24"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Transaction.consumerName">
    <xs:restriction base="xs:token">
      <xs:minLength fixed="true" value="1"/>
      <xs:maxLength fixed="true" value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Transaction.currency">
    <xs:restriction base="xs:token">
      <xs:length fixed="true" value="3"/>
      <xs:pattern value="EUR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Transaction.description">
    <xs:restriction base="xs:token">
      <xs:minLength fixed="true" value="1"/>
      <xs:maxLength fixed="true" value="32"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Transaction.entranceCode">
    <xs:restriction base="xs:token">
      <xs:minLength fixed="true" value="1"/>
      <xs:maxLength fixed="true" value="40"/>
      <xs:pattern value="[a-zA-Z0-9]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Transaction.expirationPeriod">
    <xs:restriction base="xs:duration">
      <xs:minInclusive fixed="true" value="PT1M"/>
      <xs:maxInclusive fixed="true" value="PT1H"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Transaction.language">
    <xs:restriction base="xs:token">
      <xs:length fixed="true" value="2"/>
      <xs:pattern value="[a-z]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Transaction.purchaseID">
    <xs:restriction base="xs:token">
      <xs:maxLength fixed="true" value="16"/>
      <xs:minLength fixed="true" value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Transaction.status">
    <xs:restriction base="xs:token">
      <xs:pattern value="Open|Success|Failure|Expired|Cancelled"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Transaction.transactionID">
    <xs:restriction base="xs:token">
      <xs:length fixed="true" value="16"/>
      <xs:pattern value="[0-9]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="iDEAL.accountNumber">
    <xs:restriction base="xs:token">
      <xs:length fixed="true" value="10"/>
      <xs:pattern value="P[0-9]{9}|[0-9]{10}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="iDEAL.url">
    <xs:restriction base="xs:token">
      <xs:maxLength fixed="true" value="512"/>
      <xs:minLength fixed="true" value="1"/>
      <xs:pattern value="http(s?)://.+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="iDEAL.version">
    <xs:restriction base="xs:string">
      <xs:maxLength fixed="true" value="8"/>
      <xs:pattern value="1\.1\.0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="iDEAL.dateTime">
    <xs:restriction base="xs:dateTime">
      <xs:pattern value=".+Z"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:annotation>
    <xs:documentation>
    complexTypes defined
  </xs:documentation>
  </xs:annotation>
  <xs:complexType name="iDEAL.signature">
    <xs:sequence>
      <xs:element name="signatureValue" type="Signature.signatureValue"/>
      <xs:element name="fingerprint" type="Signature.fingerprint"/>
    </xs:sequence>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>
    attributeGroups defined
  </xs:documentation>
  </xs:annotation>
  <xs:attributeGroup name="MessageAttributes">
    <xs:annotation>
      <xs:documentation>
      attributes of each iDEAL message
    </xs:documentation>
    </xs:annotation>
    <xs:attribute name="version" type="iDEAL.version" use="required"/>
  </xs:attributeGroup>
</xs:schema>